.filter {
  padding: 10px;
  .leftSide {
    margin-bottom: 20px;
  }
  .rightSide {
    display: flex;
    gap: 16px;
    align-items: center;
    .datePicker {
      min-width: 250px;
    }
  }
}

@media (max-width: 600px) {
  .filter {
    .rightSide {
      display: block;
      
      .datePicker {
        min-width: 100%;
        margin-bottom: 10px;
      }
    }
    [class~="MuiTabs-indicator"] {
      display: none !important;
    }
  }
}
