.list {
  .containerFilter {
    background-color: "#fff";
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    padding: 32px;
  }
  .result {
    text-align: center;
    margin-top: 20px;
  }
  .loadingPos {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
  }
}
