.table{
    .reducedPadding{
        padding: 5px 20px !important;
    }
    .headers{
        padding: 20px 20px !important;
    }
    img{
        border-radius: 5px;
    }
    .paddingMsgs{
        padding: 20px;
    }
}